<AuthorizeView>
    <Authorized Context="Auth">
        <MudLink Href="Identity/Account/Manage" Class="ma-1">Hello, @Auth.User.Identity?.Name!</MudLink>

        <form method="post" action="Identity/Account/LogOut">
            <MudButton ButtonType="ButtonType.Submit"
                       EndIcon="@Icons.Material.Filled.Logout"
                       Class="ma-1"
                       Variant="Variant.Filled"
                       Color="Color.Tertiary">
                Log Out
            </MudButton>
        </form>
    </Authorized>
    <NotAuthorized>
        <MudButton Href="Identity/Account/Login"
                   Class="ma-1"
                   Variant="Variant.Filled"
                   EndIcon="@Icons.Material.Filled.Login"
                   Color="Color.Tertiary">
            Log in
        </MudButton>     

        <MudButton Href="Identity/Account/Register"
                   Class="ma-1"
                   Variant="Variant.Filled"
                   EndIcon="@Icons.Material.Filled.AssignmentInd"
                   Color="Color.Tertiary">
            Register
        </MudButton>

    </NotAuthorized>
</AuthorizeView>
